#placings_table {
    width: 98%;
    margin-left: 10;
    padding: 10;
    background-color: pink;
}

#finals_graph {
    width: 98%;
    margin-left: 10;
    padding: 10;
    background-color: yellow;
}
