#placings_table {
    width: 98%;
    margin-left: 1%;
    padding: 10;
    background-color: pink;
}

#finals_graph {
    width: 98%;
    margin-left: 1%;
    padding: 10;
    background-color: yellow;
}

table, td, th {
    padding: 5px;
    border: 3px solid black;
}
th {
    background-color: #ed008c;
    color: white;
}
td, th {
        border: 1px solid black;
        text-align: center;
}
 
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
 
.link:hover {
  stroke-opacity: .5;
}
 
