#border {
    width:98%;
    max-width:900px;
    margin: auto;
    text-align: center;
}

#menu {
    width: 98%;
    margin-left: 1%;
    padding: 10;
    background-color: lightblue;
}

#title {
    width: 98%;
    margin-left: 1%;
    padding: 10;
    background-color: green;
    font-size: 36;
}

#filters {
    width: 98%;
    margin-left: 1%;
    padding: 10;
    background-color: navy;
}

.default {

}
