#border {
    width:98%;
    max-width:1100px;
    margin: auto;
    text-align: center;
}

#menu {
    width: 98%;
    margin-left: 1%;
    padding: 10;
    background-color: lightblue;
}

#title {
    width: 98%;
    margin-left: 1%;
    padding: 10;
    background-color: green;
    font-size: 36;
}

#filters {
    width: 98%;
    margin-left: 1%;
    padding: 10;
}

table, td, th {
  padding: 10px;
  border: 3px solid black;
}

td {
  border: 1px solid black;
  text-align: justify;
  background-color: #fff;
}
th {
  border: 2px solid black;
  background-color: #ed008c;
  color: white;
  text-align: center;
}

.default {
    font-family: Arial, Helvetica, sans-serif;
}
