body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
  font-color: #000;
}

text {
	font-size: 10px;
  	font-family: Arial, Helvetica, sans-serif;

}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}